@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-between align-items-center">
    <div class="img-fluid me-3 px-5">
        <a asp-controller="Products" asp-action="Index"><img src="https://images.pexels.com/photos/5632402/pexels-photo-5632402.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="card-img" /></a>
    </div>
    <div class="text-center">
        <h1 class="display-4">Välkommen till Shoppen!</h1>
        <p>Här finns allt du behöver.</p>
    </div>
</div>
